apiVersion: v1
kind: Service
metadata:
  name: {{ include "ark-apiserver.fullname" . }}
  labels:
    {{- include "ark-apiserver.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "ark-apiserver.selectorLabels" . | nindent 4 }}
