global:
  annotations:
    ark.mckinsey.com/service: otel-collector

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: localhost-gateway
      namespace: ark-system
  hostnames:
    - "otel-collector-svc.otel-collector.127.0.0.1.nip.io"

service:
  name: otel-collector-opentelemetry-collector
  port: 4318

namespace: otel-collector

otelEnvironmentVariableSecrets:
  enabled: true
  namespaces:
    - ark-system
    - default

opentelemetry-collector:
  mode: deployment
  replicaCount: 1

  image:
    repository: otel/opentelemetry-collector-contrib

  service:
    type: ClusterIP

  config:
    exporters:
      debug:
        verbosity: detailed
        sampling_initial: 5
        sampling_thereafter: 200
      clickhouse:
        endpoint: tcp://clickhouse-svc.clickhouse.svc.cluster.local:9000?dial_timeout=10s
        username: default
        password: "clickhouse"
        database: otel
        async_insert: true
        ttl: 72h
        compress: lz4
        create_schema: true
        logs_table_name: otel_logs
        traces_table_name: otel_traces
        timeout: 5s

    extensions:
      health_check:
        endpoint: ${env:MY_POD_IP}:13133

    processors:
      batch: {}
      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25

    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            endpoint: ${env:MY_POD_IP}:4318

    service:
      telemetry:
        metrics:
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: ${env:MY_POD_IP}
                    port: 8888
      extensions:
        - health_check
      pipelines:
        traces:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
          exporters:
            - debug
            - clickhouse
        metrics:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
          exporters:
            - debug
            - clickhouse
        logs:
          receivers:
            - otlp
          processors:
            - memory_limiter
            - batch
          exporters:
            - debug
            - clickhouse

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
