name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

# Release please will create pull requests, update the changelog, and cicd will
# deploy the docs and modules and create tags and labels.
permissions:
  contents: write
  pull-requests: write
  pages: write
  id-token: write
  issues: write
  packages: write
  # Required to trigger the 'deploy' workflow when a release is created.
  actions: write

# Concurrency is per-workflow, per-pull request or branch. This means that
# existing workflows are *only* cancelled if someone pushes a new commit to the
# same pull request or branch (which only triggers for 'main' in this workflow).
# People therefore cannot cancel each others' build, only cancel pending builds
# on their own PRs.
# This pattern does *not* apply to the 'main' branch - which we want to always
# have the full pipeline run on.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:

  build-charts:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        chart:
          - { name: ark-cluster-memory, path: services/ark-cluster-memory/chart }
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: "3.14.0"

      - name: Lint and Package ${{ matrix.chart.name }}
        run: |
          cd ${{ matrix.chart.path }}
          helm dependency update
          helm lint .
          helm package .

      - name: Upload ${{ matrix.chart.name }} Chart
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.chart.name }}-${{ github.sha }}
          path: ${{ matrix.chart.path }}/${{ matrix.chart.name }}-*.tgz
          retention-days: 30
  
  deploy-helm-chart:
    runs-on: ubuntu-24.04
    needs: [build-charts]
    strategy:
      matrix:
        chart:
          - ark-cluster-memory
    steps:

      - uses: actions/checkout@v4
      
      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.14.0'

      - name: Download ${{ matrix.chart }} artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.chart }}-${{ github.sha }}
          path: ./charts

      - name: Deploy ${{ matrix.chart }} to Container Registry
        run: |
          REGISTRY="${{ vars.DOCKER_REGISTRY || format('ghcr.io/{0}/{1}', github.repository_owner, github.event.repository.name) }}"
          
          helm registry login $REGISTRY -u "${{ secrets.DOCKER_REGISTRY_USERNAME || github.actor }}" --password-stdin <<< "${{ secrets.DOCKER_REGISTRY_PASSWORD || secrets.GITHUB_TOKEN }}"
          helm push ./charts/${{ matrix.chart }}-*.tgz oci://${REGISTRY}/charts